In [2]:
import pandas as pd

# Load the datasets
train_df = pd.read_excel("/Users/vinitkoli/Documents/Data Science Journey/Flip Robo Internship Task /Flip Robo Project Assignment /Data_Train.xlsx")
test_df = pd.read_excel("/Users/vinitkoli/Documents/Data Science Journey/Flip Robo Internship Task /Flip Robo Project Assignment /Data_Test.xlsx")

In [3]:
# Display the first few rows of the training dataset
train_df.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12690 entries, 0 to 12689
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          11687 non-null  object
 1   RESTAURANT_ID  12690 non-null  int64
 2   CUISINES       12690 non-null  object
 3   TIME           12690 non-null  object
 4   CITY           12578 non-null  object
 5   LOCALITY       12592 non-null  object
 6   RATING         12688 non-null  object
 7   VOTES          11486 non-null  object
 8   COST           12690 non-null  int64
dtypes: int64(2), object(7)
memory usage: 892.4+ KB

In [5]:
train_df.describe()

       RESTAURANT_ID          COST
count   12690.000000  12690.000000
mean     7759.134121    655.252246
std      4504.874150    627.003540
min         0.000000     20.000000
25%      3863.250000    300.000000
50%      7740.000000    500.000000
75%     11688.750000    800.000000
max     15573.000000  14000.000000

In [9]:
# Display the first few rows of the testing dataset
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4231 entries, 0 to 4230
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          3947 non-null   object
 1   RESTAURANT_ID  4231 non-null   int64
 2   CUISINES       4231 non-null   object
 3   TIME           4231 non-null   object
 4   CITY           4196 non-null   object
 5   LOCALITY       4201 non-null   object
 6   RATING         4229 non-null   object
 7   VOTES          3829 non-null   object
dtypes: int64(1), object(7)
memory usage: 264.6+ KB

In [8]:
test_df.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,NaN,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes

In [10]:
train_df.isnull().sum()

TITLE            1003
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              112
LOCALITY           98
RATING              2
VOTES            1204
COST                0
dtype: int64

In [11]:
test_df.isnull().sum()

TITLE            284
RESTAURANT_ID      0
CUISINES           0
TIME               0
CITY              35
LOCALITY          30
RATING             2
VOTES            402
dtype: int64

In [12]:
train_df.fillna(method='ffill', inplace=True)  # Forward fill as an example
test_df.fillna(method='ffill', inplace=True)

In [13]:
train_df.isnull().sum()

TITLE            0
RESTAURANT_ID    0
CUISINES         0
TIME             0
CITY             0
LOCALITY         0
RATING           0
VOTES            0
COST             0
dtype: int64

In [14]:
test_df.isnull().sum()

TITLE            0
RESTAURANT_ID    0
CUISINES         0
TIME             0
CITY             0
LOCALITY         0
RATING           0
VOTES            0
dtype: int64

In [15]:
train_df = pd.get_dummies(train_df, columns=['CITY', 'LOCALITY', 'CUISINES', 'TIME'])
test_df = pd.get_dummies(test_df, columns=['CITY', 'LOCALITY', 'CUISINES', 'TIME'])

In [23]:
print(train_df.dtypes)
print(test_df.dtypes)

TITLE                                                         object
RESTAURANT_ID                                                  int64
RATING                                                        object
VOTES                                                         object
COST                                                           int64
                                                               ...
TIME_Closed (Mon-Tue),10pm – 4am (Wed-Sun)                      bool
TIME_Closed (Mon-Tue),6:30pm – 11pm (Wed-Sun)                   bool
TIME_Closed (Mon-Tue),7pm – 1am (Wed-Sun)                       bool
TIME_Closed (Mon-Tue),9pm – 12midnight (Wed),12midnight...      bool
TIME_Not Available                                              bool
Length: 8624, dtype: object
TITLE                                                         object
RESTAURANT_ID                                                  int64
RATING                                                        object
VOTES                                                         object
CITY_1st Stage                                                  bool
                                                               ...
TIME_Closed (Mon, Tue, Wed, Thu, Sun), 10:30pm – 5am...         bool
TIME_Closed (Mon, Tue, Wed, Thu, Sun), 10am – 1am...            bool
TIME_Closed (Mon, Tue, Wed, Thu, Sun), 8pm – 2am (Fri-Sat)      bool
TIME_Closed (Mon-Tue),9pm – 2am (Wed-Sun)                       bool
TIME_Not Available                                              bool
Length: 3899, dtype: object

In [37]:
# Convert columns to numeric, forcing errors to NaN (for non-convertible values)
train_df['RATING'] = pd.to_numeric(train_df['RATING'], errors='coerce')
train_df['VOTES'] = pd.to_numeric(train_df['VOTES'], errors='coerce')
test_df['RATING'] = pd.to_numeric(test_df['RATING'], errors='coerce')
test_df['VOTES'] = pd.to_numeric(test_df['VOTES'], errors='coerce')

In [38]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# Apply scaling to the relevant columns
numerical_features = ['RATING', 'VOTES']
train_df[numerical_features] = scaler.fit_transform(train_df[numerical_features])
test_df[numerical_features] = scaler.transform(test_df[numerical_features])

/Users/vinitkoli/anaconda3/lib/python3.11/site-packages/sklearn/utils/extmath.py:1140: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/Users/vinitkoli/anaconda3/lib/python3.11/site-packages/sklearn/utils/extmath.py:1145: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
/Users/vinitkoli/anaconda3/lib/python3.11/site-packages/sklearn/utils/extmath.py:1165: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [39]:
from sklearn.model_selection import train_test_split

# Define features and target variable
X = train_df.drop(columns=['COST', 'RESTAURANT_ID'])
y = train_df['COST']

# Split the dataset into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Initialize and train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the validation set
y_pred = model.predict(X_val)

# Evaluate the model
print(f"Mean Squared Error: {mean_squared_error(y_val, y_pred)}")
print(f"R^2 Score: {r2_score(y_val, y_pred)}")

In [ ]:
# Prepare test data
X_test = test_df.drop(columns=['RESTAURANT_ID'])

In [ ]:
# Predict costs
test_predictions = model.predict(X_test)

In [ ]:
# Create submission DataFrame
submission_df = pd.DataFrame({
    'RESTAURANT_ID': test_df['RESTAURANT_ID'],
    'COST': test_predictions
})

In [ ]:
# Save the results to a CSV file
submission_df.to_csv("predicted_costs.csv", index=False)