In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.20.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: urllib3<3,>=1.26 in /Users/vinitkoli/anaconda3/lib/python3.11/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.26.16)
Collecting trio~=0.17 (from selenium)
  Downloading trio-0.25.0-py3-none-any.whl.metadata (8.7 kB)
Collecting trio-websocket~=0.9 (from selenium)
  Downloading trio_websocket-0.11.1-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: certifi>=2021.10.8 in /Users/vinitkoli/anaconda3/lib/python3.11/site-packages (from selenium) (2023.7.22)
Collecting typing_extensions>=4.9.0 (from selenium)
  Using cached typing_extensions-4.11.0-py3-none-any.whl.metadata (3.0 kB)
Collecting attrs>=23.2.0 (from trio~=0.17->selenium)
  Using cached attrs-23.2.0-py3-none-any.whl.metadata (9.5 kB)
Requirement already satisfied: sortedcontainers in /Users/vinitkoli/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /Users/vinitkoli/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (3.4)
Collecting outcome (from trio~=0.17->selenium)
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Collecting sniffio>=1.3.0 (from trio~=0.17->selenium)
  Using cached sniffio-1.3.1-py3-none-any.whl.metadata (3.9 kB)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/vinitkoli/anaconda3/lib/python3.11/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Using cached h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Downloading selenium-4.20.0-py3-none-any.whl (9.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.5/9.5 MB 10.8 MB/s eta 0:00:0000:0100:01
Downloading trio-0.25.0-py3-none-any.whl (467 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 467.2/467.2 kB 10.7 MB/s eta 0:00:00a 0:00:01
Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Using cached typing_extensions-4.11.0-py3-none-any.whl (34 kB)
Using cached attrs-23.2.0-py3-none-any.whl (60 kB)
Using cached sniffio-1.3.1-py3-none-any.whl (10 kB)
Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Using cached h11-0.14.0-py3-none-any.whl (58 kB)
Installing collected packages: typing_extensions, sniffio, h11, attrs, wsproto, outcome, trio, trio-websocket, selenium
  Attempting uninstall: typing_extensions
    Found existing installation: typing_extensions 4.7.1
    Uninstalling typing_extensions-4.7.1:
      Successfully uninstalled typing_extensions-4.7.1
  Attempting uninstall: sniffio
    Found existing installation: sniffio 1.2.0
    Uninstalling sniffio-1.2.0:
      Successfully uninstalled sniffio-1.2.0
  Attempting uninstall: attrs
    Found existing installation: attrs 22.1.0
    Uninstalling attrs-22.1.0:
      Successfully uninstalled attrs-22.1.0
Successfully installed attrs-23.2.0 h11-0.14.0 outcome-1.3.0.post0 selenium-4.20.0 sniffio-1.3.1 trio-0.25.0 trio-websocket-0.11.1 typing_extensions-4.11.0 wsproto-1.2.0

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [5]:
driver = webdriver.Chrome()

In [6]:
# Opening the web page 
driver.get("https://www.naukri.com")

In [7]:
designation= driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [8]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [9]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [10]:
job_title = []
job_location =[]
company_name =[]
experience_required =[]

In [11]:
# Scraping job title
title_tags = driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title = i.text 
    job_title.append(title)
    
    
location_tags = driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags:
    location = i.text
    job_location.append(location)
    
    
company_tags = driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    company = i.text
    company_name.append(company)
    
    
experience_tags = driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags:
    experience = i.text
    experience_required.append(experience)

In [12]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [13]:
import pandas as pd 
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst,Hybrid - Bengaluru,Naukri Premium - Employer Services,3-5 Yrs
1,Data Analyst,Bengaluru,Freshmenu,3-7 Yrs
2,Data Analyst,Bengaluru,Clairvoyant India Pvt. Ltd,3-5 Yrs
3,Data Analyst,Bengaluru,Quation Solutions,3-8 Yrs
4,Data Analyst,Bengaluru,Deep Cognition India,2-3 Yrs
5,Data Analyst,Bengaluru,Valenta Bpo Solutions,4-5 Yrs
6,Data Analyst,Hybrid - Bengaluru,Silicon Valley Bank,4-8 Yrs
7,Item Data Analyst,Bengaluru,Hudsons bay Company (HBC),1-2 Yrs
8,Data Analyst,Bangalore Rural,Two95 International Staffing Services,5-10 Yrs
9,Alteryx Data Analyst,"Hyderabad, Pune, Bengaluru",ALOIS Solutions,5-10 Yrs
10,Data Analyst,Bangalore Rural,Two95 International Staffing Services,7-12 Yrs
11,Data Analyst,Bengaluru,Kaplan Test Prep,2-4 Yrs
12,Data Analyst,Remote,Askmeoffers,0-5 Yrs
13,Material Data Analyst,Bengaluru,Becton Dickinson,5-10 Yrs
14,Data Analyst,Bengaluru,ANZ,1-5 Yrs
15,Data Analyst,Bengaluru,Spotnana,3-6 Yrs
16,Data Analyst,Bengaluru,Merritt Innovative Solutions,2-4 Yrs
17,Data Analyst,"Hybrid - Pune, Bengaluru",Hiring for Data Analyst,7-12 Yrs
18,Data Analyst,Bengaluru,Collabera,5-10 Yrs
19,Data Analyst 987,Bengaluru,Protiviti India,4-6 Yrs

In [29]:
# Fetching the url 
url=driver.find_elements(By.XPATH,'//a[@class="title "]') 
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="69b95326aac8d6e2566ab449da28ced1", element="f.4604C873BAE5607CB761C264C6043715.d.C29B4A0D615357051D1645B2117634E4.e.4171")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b95326aac8d6e2566ab449da28ced1", element="f.4604C873BAE5607CB761C264C6043715.d.C29B4A0D615357051D1645B2117634E4.e.4178")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b95326aac8d6e2566ab449da28ced1", element="f.4604C873BAE5607CB761C264C6043715.d.C29B4A0D615357051D1645B2117634E4.e.4186")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b95326aac8d6e2566ab449da28ced1", element="f.4604C873BAE5607CB761C264C6043715.d.C29B4A0D615357051D1645B2117634E4.e.6288")>]

In [31]:
for i in url[0:4]:
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-analyst-naukri-employer-services-bengaluru-3-to-5-years-080524006745
https://www.naukri.com/job-listings-data-analyst-freshmenu-bengaluru-3-to-7-years-030524007905
https://www.naukri.com/job-listings-data-analyst-clairvoyant-india-pvt-ltd-bengaluru-3-to-5-years-230424500186
None

In [32]:
# For Scraping more than one pages 

job_titles=[]

In [34]:
start = 0
end = 5 
for page in range (start,end):
    titles = driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
    for i in titles:
        job_titles.append(i.text)
    next_button= driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[2]/div[3]/div/a[2]')
    next_button.click()
    time.sleep(3)

In [37]:
print(len(job_titles))

100

In [38]:
job_titles

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Item Data Analyst',
 'Data Analyst',
 'Alteryx Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Material Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst 987',
 'Data Analyst',
 'Data Analyst - Communication Equipment Domain',
 'Data Ops Analyst (R50024150)',
 'Data Governance Analyst (R50024143)',
 'Data Analyst Immediate openings_Bangalore',
 'Data Analyst (New)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst (Tableau)',
 'Data Analyst - Aviation',
 'Data Analyst',
 'Data Analyst',
 'Procurement Data analyst',
 'Data Analyst',
 'data analyst',
 'Data Analyst',
 'Data Engineer & Analyst',
 'Data Engineer & Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'DATA ANALYST',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Payer Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Privacy Analyst',
 'Data Analyst',
 'FHIR Data Analyst',
 'Data Analyst -M&T',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - X Delivery',
 'Data Analyst',
 'Online Data Analyst',
 'Data Analyst | Bangalore Location',
 'Python,Java, NoSQL,Data analyst',
 'Industrial Iot Data Analyst',
 'Data Analyst',
 'Staff Data Analyst - JioCinema',
 'Data Analyst',
 'IAM DATA SCIENTIST /ANALYST',
 'Data Analyst',
 'Platform Data Analyst',
 'Material Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analysts',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'FP&A Data Analyst',
 'Data Analyst Data Classification & Attestation',
 'Data Analyst Data Classification & Attestation',
 'Data Analyst',
 'Data Analyst',
 'Payer Data Analyst',
 'Data Analyst']