# Assignment-2 REGEX

In [155]:
import re
import regex as re

In [156]:
# Question-1 Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
# Sample Text- 'Python Exercises, PHP exercises.'
# Expected Output: Python:Exercises::PHP:exercises:


sub_ ="Python Exercises, PHP exercises."
replaced_text = re.sub(r"[,\s.]", ":", sub_)
print(replaced_text)

Python:Exercises::PHP:exercises:

In [157]:
# Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
# Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
# Expected output-
# 0      hello world
# 1             test
# 2    four five six

import pandas as pd

data = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(data)


def remove(text):
    return re.sub(r"[!A-Z\d+,:;.]", "",text)

df['SUMMARY']=df['SUMMARY'].apply(remove)
print(df)

         SUMMARY
0    hello world
1           test
2  four five six

In [158]:
#Question 3- Create a function in python to find all words that are at least 4 characters long in a string. 
# The use of the re.compile() method is mandatory.

text = "Success is stumbling from failure to failure with no loss of enthusiasm."
string_pattern=r"\b\w{4}\b"
print(type(string_pattern))
regex_pattern = re.compile(string_pattern)
print(type(regex_pattern),"\n")
result = regex_pattern.findall(text)
print(result)

<class 'str'>
<class '_regex.Pattern'>

['from', 'with', 'loss']

In [159]:
# Question 4- Create a function in python to find all three, four, and five character words in a string. 
# The use of the re.compile() method is mandatory.

text2 = "Success is a path, not a point. Enjoy the process of learning, growing, and working towards your goals."
string_pattern=r"(\b\w{3,5}\b)"
print(type(string_pattern))
regex_pattern = re.compile(string_pattern)
# print(type(regex_pattern),"\n")
result = regex_pattern.findall(text2)
print(result)

<class 'str'>
['path', 'not', 'point', 'Enjoy', 'the', 'and', 'your', 'goals']

In [26]:
# Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
# Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
# Expected Output:
# example.com
# hr@fliprobo.com
# github.com
# Hello Data Science World

str= ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
import re

def remove_parentheses(strings):
    pattern = re.compile(r'[()]')
    cleaned_strings = [pattern.sub('', s) for s in strings]
    return cleaned_strings

output = remove_parentheses(str)
for result in output:
    print(result)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

In [27]:
# Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
# Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
# Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
# Note- Store given sample text in the text file and then to remove the parenthesis area from the text.
import re

with open("sampleTextQ6.txt", "r") as file:
    sample_text = file.read()

cleaned_text = re.sub(r"\s*\([^)]+\)", "", sample_text)

output_list = re.findall(r'"([^"]*)"', cleaned_text)

print(output_list)

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

In [161]:
# Question 7- Write a regular expression in Python to split a string into uppercase letters.
# Sample text: “ImportanceOfRegularExpressionsInPython”
# Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

tex = ('ImportanceOfRegularExpressionsInPython')
sample_result = re.findall(r"[A-Z][a-z]+",tex)
print(sample_result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [162]:
# Question 8- Create a function in python to insert spaces between words starting with numbers.
# Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
# Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

text = ('RegularExpression1IsAn2ImportantTopic3InPython')
result= re.sub(r"(?<!Regular)(?<!\d)([A-Z\d])",r" \1",text)

print(result)

 RegularExpression 1Is An 2Important Topic 3In Python

In [163]:
# Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
# Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
# Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

text = ('RegularExpression1IsAn2ImportantTopic3InPython')

result= re.sub(r"(?<!Regular)([A-Z\d])",r" \1",text)
print(result)
#

 RegularExpression 1 Is An 2 Important Topic 3 In Python

In [164]:
# Question 10- Use the github link below to read the data and create a dataframe. 
# After creating the dataframe extract the first 6 letters of each country and store in the dataframe under 
# a new column called first_five_letters.
# Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv


import pandas as pd 
url='https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv'
df=pd.read_csv(url)
df
df.columns 

newColumn=df['Country'].str[:6]

df.insert(2,"First_five_letter",newColumn,False)

df

,Country,Region,First_five_letter,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,Switze,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,Icelan,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,Denmar,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,Norway,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,Canada,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,Rwanda,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,Benin,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,Syria,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,Burund,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,Togo,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [36]:
# Question 11- Write a Python program to match a string that contains only upper and lowercase letters, 
# numbers, and underscores.

text = ('Vinit_koli Vinit123 Vinit123koli VINIT_KOLI')
y = re.match(r"[A-Za-z0-9_]*+",text)
print(y.group())

Vinit_koli

In [38]:
# Question 12- Write a Python program where a string will start with a specific number. 

import re 
text = ('234Vinit,Vinit234,32Vinitkoli')
result=re.findall(r"32\w+",text)
print(result)

['32Vinitkoli']

In [22]:
# Question 13- Write a Python program to remove leading zeros from an IP address
import re

def remove_zeros_from_ip(ip_add):
    return re.sub(r'(^|\.)0+(?=[^.])', r'\1', ip_add)

# Test
ip1 = '10.0.01.10'
ip2 = '10.00.002.20'
print(remove_zeros_from_ip(ip1))
print(remove_zeros_from_ip(ip2))

10.0.1.10
10.0.2.20

In [4]:
# Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
# Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
# Expected Output- August 15th 1947
# Note- Store given sample text in the text file and then extract the date string asked format.

import re

with open('sampleTextQ14.txt', 'r') as file:
    sample_text = file.read()
pattern = re.compile(r'([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th) \d{4})')
matches = pattern.findall(sample_text)
for match in matches:
    print(match)

August 15th 1947

In [165]:
# Question 15- Write a Python program to search some literals strings in a string. 
# Sample text : 'The quick brown fox jumps over the lazy dog.'
# Searched words : 'fox', 'dog', 'horse'

text =('The quick brown fox jumps over the lazy dog.')
#for texts in text : 
result = re.search (r"(f\w+).+(d\w+)",text)
print(result.groups())

('fox', 'dog')

In [166]:
# Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
# Sample text : 'The quick brown fox jumps over the lazy dog.'
# Searched words : 'fox'

text= ('The quick brown fox jumps over the lazy dog.')
for texts in text: 
    search = re.search(r"f\w+",text)
print(search)

<regex.Match object; span=(16, 19), match='fox'>

In [167]:
# Question 17- Write a Python program to find the substrings within a string.
# Sample text : 'Python exercises, PHP exercises, C# exercises'
# Pattern : 'exercises'.


msg= ('Python exercises, PHP exercises, C# exercises')
for msgs in msg:
    search = re.search("e\w+",msg)
print(search)
print(search.group())

<regex.Match object; span=(7, 16), match='exercises'>
exercises

In [172]:
# Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

target_string = ('Python exercises, PHP exercises, C# Exercises')

result= re.finditer(r"exercise|Exercise",target_string)

for match_obj in result: 
    print(match_obj)

<re.Match object; span=(7, 15), match='exercise'>
<re.Match object; span=(22, 30), match='exercise'>
<re.Match object; span=(36, 44), match='Exercise'>

In [14]:
# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.
import re

def convert_date(date):
    pattern = re.compile(r'(\d{4})-(\d{2})-(\d{2})')
    match = pattern.match(date)
    if match:
        year, month, day = match.groups()
        return f"{day}-{month}-{year}"
    else:
        return "Invalid date format"

# Test
date = "2024-04-05"
converted_date = convert_date(date)
print(converted_date)

05-04-2024

In [15]:
# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
# Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
# Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

import re

def find_decimal_numbers(text):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    decimal_numbers = pattern.findall(text)
    return decimal_numbers

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

result = find_decimal_numbers(sample_text)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [16]:
# Question 21- Write a Python program to separate and print the numbers and their position of a given string.
import re

def print_numbers_and_positions(text):
    pattern = re.compile(r'\d')
    matches = pattern.finditer(text)
    for match in matches:
        print(f"Number: {match.group()}, Position: {match.start()}")

# Test
sample_text = "Hello 123 World"
print_numbers_and_positions(sample_text)

Number: 1, Position: 6
Number: 2, Position: 7
Number: 3, Position: 8

In [17]:
# Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
# Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
# Expected Output: 950
import re

def extract_maximum_numeric_value(text):
    pattern = re.compile(r'\b\d+\b')
    matches = pattern.findall(text)
    if matches:
        return max(map(int, matches))
    else:
        return None

sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
max_numeric_value = extract_maximum_numeric_value(sample_text)
print(max_numeric_value)

950

In [94]:
# Question 23- Create a function in python to insert spaces between words starting with capital letters.
# Sample Text: “RegularExpressionIsAnImportantTopicInPython"
# Expected Output: Regular Expression Is An Important Topic In Python

text = ('RegularExpressionIsAnImportantTopicInPython')


result= re.sub(r"([A-Z])",r" \1",text)
print(result)

 Regular Expression Is An Important Topic In Python

In [108]:
#Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

text = ('Regular Expression Is An IMPORTANT TOPIC In PYTHON')

result= re.findall(r"[A-Z][a-z]+",text)
print(result)

['Regular', 'Expression', 'Is', 'An', 'In']

In [ ]:
# Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
# Sample Text: "Hello hello world world"
# Expected Output: Hello hello world

string = "Hello hello world world"
regex= r"\b(\w+)\b\s+\1\b"
x = re.sub(regex,r"\1",string)
print(x)

In [170]:
# Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

import re
def alphanumeric(text):
    pattern = r"\w+$"
    if re.match(pattern,text):
        return True
    else:
        return False

strings =['Vinit@','Vinit123','04vinit']

for string in strings: 
    if alphanumeric(string):
        print(f"{strings}---Valid")
    else:
        print(f"{strings}----Invalid")

['Vinit@', 'Vinit123', '04vinit']----Invalid
['Vinit@', 'Vinit123', '04vinit']---Valid
['Vinit@', 'Vinit123', '04vinit']---Valid

In [173]:
# Question 27-Write a python program using RegEx to extract the hashtags.
# Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
# Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']


text= """"RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
hashtag = re.findall(r"#\w+",text)
print(hashtag)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [181]:
# Question 28- Write a python program using RegEx to remove <U+..> like symbols
# Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
# Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
# Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

sample=('@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders')
y="<U\+[\dA-Z]{4}>"
result = re.sub(y,"",sample )
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [171]:
# Question 29- Write a python program to extract dates from the text stored in the text file.
# Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
# Note- Store this sample text in the file and then extract dates.

text = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
dates = re.findall(r"\d+-\d+-\d+",text)
print(dates)

['12-09-1992', '15-12-1999']

In [18]:
# Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
# The use of the re.compile() method is mandatory.
# Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
# Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.
import re

def remove_words_of_length_2_to_4(text):
    pattern = re.compile(r'\b\w{2,4}\b')

    modified_text = pattern.sub('', text)

    modified_text = re.sub(r'\s+', ' ', modified_text).strip()

    return modified_text

sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
result = remove_words_of_length_2_to_4(sample_text)
print(result)

following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.